<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>
  <!-- 標準出力用設定 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    <!--
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) [%thread] [trackingId=%marker] [%msg] [%class.%method\(%file:%line\)] [%ex{full}] %n
      </pattern>
    </encoder>
    -->
  </appender>

  <!-- アクセスログ用設定 -->
  <appender name="ACCESS-LOG" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss} %marker %msg
      </pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="play"                     level="INFO" />
  <logger name="application"              level="DEBUG" />
  <!--
  <logger name="mvc.util.AccessLogFilter" level="INFO" additivity="false">
    <appender-ref ref="ACCESS-LOG" />
  </logger>
  -->
</configuration>
